body{
    background-color: rgb(60, 255, 0);
    display: flex;
    justify-content: center;
}

.backgroundDiv{
    display: block;
    background-color: rgb(255, 255, 255);
    height: 98vh;
    width: 85%;
    border-radius: 20px;    
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    
}

.topPanel{
    background-color: aqua;
    margin: 20px;
    border-radius: 18px;
    height: 120px;
    vertical-align: middle;
}

.nameText{
    display: inline;
    color: rgb(0, 0, 0);

}

.profilePhotoDiv{
    position: relative;   
    background-color: rgb(91, 0, 177);
    height: 50%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    vertical-align: middle;
    border-radius: 15px;
    transform: translate(0, 50%);
}

.profilePhoto{
    background-color: rgb(255, 0, 0);
    height: 100%;
    margin: 0px;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}